@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html, body {width:100%; height:100%; margin: 0px; font-family: 'Noto Sans KR', sans-serif; text-align: center;}
img {border:0px;}
a {text-decoration: none; color: #fff;}
a:hover {text-decoration: none;}
a:visited {text-decoration: none;}
a:link {text-decoration: none;}

main {text-align: center;}

.lmenu_wrap {width:175px; position: fixed; text-align: left; margin-top:-71px; opacity:0.4; display: none; z-index: 10;}
.lmenu_wrap .menu {width:175px; height:40px; position: relative; display: block; background: #000; color: #fff; margin-top:141px; margin-left:-71px; padding-left:5px; font-size:14px; line-height: 40px; -webkit-transform: rotate(90deg); font-weight:500; cursor:pointer;}

.layer1 {width:100%; display: inline-block; height:722px; border-bottom:1px dotted #000;}
.layer1 .logo {margin-top:140px;}
.layer1 .logo img {width:160px; margin:30px 0 20px 0;}
.layer1 span {font-size: 13px; line-height: 13px; font-weight: 600;}
.layer1 p {font-size:50px;font-family: 'Fredericka the Great', cursive; line-height: 50px; margin-top:20px;}
.layer1 .mmenu_wrap {width:100%; display: flex; justify-content: center;}
.layer1 .mmenu_wrap ul{width: auto; /*margin-left:125px;*/ margin: 0; padding: 0; display: flex; justify-content: center; gap: 20px;}
.layer1 .mmenu_wrap ul li {list-style: none; height:30px; line-height: 30px; padding:3px 20px; /*margin:0 10px 0 10px;*/ border:1px solid #000; border-radius:25px; box-shadow: 0px 0px 3px #ccc; font-size: 14px; cursor:pointer; background:#FCFCDB;}

/*  프로필  */
.layer2 {width:100%; height:auto; display: flex; justify-content: center; border-bottom:1px dotted #000; padding:80px 0 140px 0;}
.layer2 .profile {width:900px; font-size: 13px;}
.layer2 .profile span {font-size: 20px; font-weight: 600; line-height: 40px; color: red; border:2px solid red; padding: 0 32px; border-radius:30px; display: inline-block;}
.layer2 .profile .title {text-align: left; font-weight: bold; padding:40px 0 0px 0px;}
.layer2 .profile .line {line-height: 13px; border-bottom:1px solid #000; padding: 10px 0; display: flex; justify-content: left;}
.layer2 .profile .line ul {text-align: left; margin: 0; padding: 0;}
.layer2 .profile .line ul li {float:left;}
.layer2 .profile .line ul .st1 {width:65px; margin-left: 20px; margin-right:10px;}
.layer2 .profile .line ul .ds1 {list-style: none; margin-right:160px;}
.layer2 .profile .line ul .st2 {margin-left: 20px; width:150px;}
.layer2 .profile .line ul .ds2 {list-style: none; margin-right:0px;}
.layer2 .profile .line ul .st3 {margin-left: 20px; margin-right:5px;}
.layer2 .profile .line ul .ds3 {list-style: none; margin-right:120px;}


.layer3 {width:100%; height:722px; display: flex; justify-content: center; border-bottom:1px dotted #000; padding:80px 0 100px 0; display: none;}
.layer3 .design {width:1200px;}
.layer3 .design span {font-size: 20px; font-weight: 600; line-height: 40px; margin-bottom: 70px; color: red; border:2px solid red; padding: 0 34px; border-radius:30px; display: inline-block;}
.layer3 .design img {width:15%; display: inline; float: left; margin:0 5px 10px 5px; cursor: pointer; border:1px solid #ccc;}


.layer4 {width:100%; padding:80px 0 50px 0; display: flex; justify-content: center; display: none;}
.layer4 .shoppingmall {display: flex; flex-direction: column; align-items: center;}
.layer4 .shoppingmall span {font-size: 20px; font-weight: 600; line-height: 40px; color: red; border:2px solid red; border-radius:30px; display: inline-block; padding: 0 30px;}
.layer4 .shoppingmall .show {width:900px; display: inline-block; padding:50px 0 0px 0;}
.layer4 .shoppingmall .show .comment {width:900px; font-size: 12px; display: inline-block; vertical-align: top; text-align: left; margin:0px 0 10px 10px;}
.layer4 .shoppingmall .show .comment .line {height:9px;}
.layer4 .shoppingmall .show .comment .line ul {text-align: left;}
.layer4 .shoppingmall .show .comment .line ul li {margin-left:0; padding-left:0; float:left; }
.layer4 .shoppingmall .show .comment .line ul .st1 {margin-left:-20px;}
.layer4 .shoppingmall .show .comment .line ul .ds1 {list-style: none; margin-left:0px;}
.layer4 .shoppingmall .show .pop {width:70px; height: 40px; line-height: 18px; background:#000; border:1px solid #000; color:#fff; font-size:14px; padding:12px 0 13px 0; position:relative; top: 12px; left:420px; cursor:pointer; z-index: 3; opacity:0.9; display:none;}
.layer4 .shoppingmall .show .view {width:900px; position: relative; top: 10px; padding:0 0 30px 0;}

/* 경력 */
.layer5 {width:100%; display: flex; justify-content: center; border-bottom:1px dotted #000; padding:80px 0 140px 0;}
.layer5 .career {width:900px; font-size: 13px;}
.layer5 .career span {font-size: 20px; font-weight: 600; line-height: 40px; color: red; border:2px solid red; padding: 0 40px; border-radius:30px; display: inline-block;}
.layer5 .career .title {text-align: left; font-weight: bold; padding:40px 0 0px 0px;}
.layer5 .career .line {height:13px; line-height: 13px; border-bottom:1px solid #000; padding:0px 0 10px 0;}
.layer5 .career .line ul {text-align: left;}
.layer5 .career .line ul li {float:left;}
.layer5 .career .line ul .st2 {margin-left:-20px; width:150px;}
.layer5 .career .line ul .ds2 {list-style: none; margin-right:0px;}
